/**
*  Publish BasicBlog theme
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1e;
    color: #f2f2f7;
  }
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

.contact {
    padding: 10px;
}

.github {
    background-image: url("/images/GitHub-Mark-64px.png");
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease;
    float: right;
}

@media (prefers-color-scheme: dark) {
  .github {
    background-image: url("/images/GitHub-Mark-Light-64px.png");
  }
}

.github:hover {
  transform: scale(1.2);
}

.wrapper a[href^="http"] {
  padding-left: 19px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left center;
}

.meta-data {
  padding: 0px 0px 30px 0px;
  color: #8a8a8a;
  font-size: 0.9em;
  font-weight: light;
}

@media (prefers-color-scheme: dark) {
  .meta-data {
    color: #8a8a8a
  }
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.8em;
    color: #000;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace
}

@media (prefers-color-scheme: dark) {
  header .site-name {
    color: #f2f2f7;
  }
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    color: #000;
    margin: 0 7px;
    padding: 0px 10px 0px 10px;
    line-height: 1.5em;
}

@media (prefers-color-scheme: dark) {
    nav li {
    color: #f2f2f7;
  }
}

nav li a:hover {
  text-decoration: underline;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
    font-size: large;
}

footer p {
    font-size: medium;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 8px;
    background-color: #eee;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item-list > li::after {
  content: "";
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item-list > li:hover {
-webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.item-list > li:hover::after {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .item-list > li {
    background-color: #000;
  }
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #34c759;
    color: #f2f2f7;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  .tag-list li,
  .tag {
    background-color: #30d158;
    color: #1c1c1e;
  }
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

@media (prefers-color-scheme: dark) {
 footer {
    color: #8a8a8a;
  }
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

pre {
    margin-bottom: 1.5em;
    background-color: #1a1a1a;
    padding: 16px 0;
    border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
 pre {
    background-color: #000;
  }
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color: #ffffff;
    line-height: 1.4em;
    font-size: 1.2em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

.hll { background-color: #272822; }
.c { color: #75715e } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: #66d9ef } /* Keyword */
.l { color: #ae81ff } /* Literal */
.n { color: #f8f8f2 } /* Name */
.o { color: #f92672 } /* Operator */
.p { color: #f8f8f2 } /* Punctuation */
.cm { color: #75715e } /* Comment.Multiline */
.cp { color: #75715e } /* Comment.Preproc */
.c1 { color: #75715e } /* Comment.Single */
.cs { color: #75715e } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #66d9ef } /* Keyword.Constant */
.kd { color: #66d9ef } /* Keyword.Declaration */
.kn { color: #f92672 } /* Keyword.Namespace */
.kp { color: #66d9ef } /* Keyword.Pseudo */
.kr { color: #66d9ef } /* Keyword.Reserved */
.kt { color: #66d9ef } /* Keyword.Type */
.ld { color: #e6db74 } /* Literal.Date */
.m { color: #ae81ff } /* Literal.Number */
.s { color: #e6db74 } /* Literal.String */
.na { color: #a6e22e } /* Name.Attribute */
.nb { color: #f8f8f2 } /* Name.Builtin */
.nc { color: #a6e22e } /* Name.Class */
.no { color: #66d9ef } /* Name.Constant */
.nd { color: #a6e22e } /* Name.Decorator */
.ni { color: #f8f8f2 } /* Name.Entity */
.ne { color: #a6e22e } /* Name.Exception */
.nf { color: #a6e22e } /* Name.Function */
.nl { color: #f8f8f2 } /* Name.Label */
.nn { color: #f8f8f2 } /* Name.Namespace */
.nx { color: #a6e22e } /* Name.Other */
.py { color: #f8f8f2 } /* Name.Property */
.nt { color: #f92672 } /* Name.Tag */
.nv { color: #f8f8f2 } /* Name.Variable */
.ow { color: #f92672 } /* Operator.Word */
.w { color: #f8f8f2 } /* Text.Whitespace */
.mf { color: #ae81ff } /* Literal.Number.Float */
.mh { color: #ae81ff } /* Literal.Number.Hex */
.mi { color: #ae81ff } /* Literal.Number.Integer */
.mo { color: #ae81ff } /* Literal.Number.Oct */
.sb { color: #e6db74 } /* Literal.String.Backtick */
.sc { color: #e6db74 } /* Literal.String.Char */
.sd { color: #e6db74 } /* Literal.String.Doc */
.s2 { color: #e6db74 } /* Literal.String.Double */
.se { color: #ae81ff } /* Literal.String.Escape */
.sh { color: #e6db74 } /* Literal.String.Heredoc */
.si { color: #e6db74 } /* Literal.String.Interpol */
.sx { color: #e6db74 } /* Literal.String.Other */
.sr { color: #e6db74 } /* Literal.String.Regex */
.s1 { color: #e6db74 } /* Literal.String.Single */
.ss { color: #e6db74 } /* Literal.String.Symbol */
.bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.vc { color: #f8f8f2 } /* Name.Variable.Class */
.vg { color: #f8f8f2 } /* Name.Variable.Global */
.vi { color: #f8f8f2 } /* Name.Variable.Instance */
.il { color: #ae81ff } /* Literal.Number.Integer.Long */

.gh { } /* Generic Heading & Diff Header */
.gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
